@model IEnumerable<APICrudClient.Models.user>

@{
    ViewData["Title"] = "Index";
}

<h1>List of Freelancer Users</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.username)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.phoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.skillsets)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.hobby)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.username)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.phoneNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.skillsets)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.hobby)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
                @Html.ActionLink("Details", "Details", new { id=item.id }) |
                
                @if (item.Status == 1)
                {
                        @Html.ActionLink("Delete", "Delete", new { id = item.id })
                }
                else if (item.Status == 0)
                {
                        @Html.ActionLink("Restore", "Restore", new { id = item.id })
                }

            </td>
        </tr>
}
    </tbody>
</table>
